.easycustmenu_setting_header {
    padding: 0 24px;

    h2 {
        margin-bottom: .5rem;
    }
}



/* ---------------- */

.menu-setting-content {
    margin: 24px 0;
}

.default-custom-menu-exist,
.menu-setting-content form {
    max-width: 950px;
    padding: 0 24px;
}

.action-add-menu {
    display: flex;
    flex-wrap: wrap;
    margin: 12px
}

.action-add-menu .btn-add-menu {
    margin: auto;
}

.menu .menu-item-wrapper:nth-child(odd) {
    background-color: #ebebeb;
}

.menu .menu-item-wrapper:nth-child(even) {
    background-color: #e0e0e0;
}

.menu-item-wrapper {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 6px;
    margin: 12px;
}

.btn-collapse-exp.expand .icon:nth-child(2) {
    display: none;
}

.btn-collapse-exp.expand-off .icon:nth-child(1) {
    display: none;
}

.btn-action-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 12px 0 auto;
}

.btn-add-condition.active::after {
    content: "\25BC";
    font-size: 9px;
}

.condition-fields {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}

.condition-wrapper {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: solid 1px darkgray;
}