{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_easycustmenu/menu_setting_collection

    Example context (json):
    {
        "values"={
        }
    }

}}

<div class="menu-setting-content" id="menu_setting_collection">
    <div class="ecm-header">
    </div>
    {{#core_custommenuitems}}
        <div class="default-custom-menu-exist">
        {{#load_core_custommenuitems}}
            <p> {{#str}} core_monu_loaded, local_easycustmenu {{/str}} </p>
        {{/load_core_custommenuitems}}
        </div>
    {{/core_custommenuitems}}
    <form action="{{menu_setting_form_action}}" method="post">
        <div class="menu-wrapper">
            <div class="menu menu-draggable-list" total-menu="">
                {{#values}}
                    {{> local_easycustmenu/menu_item_wrapper }}             
                {{/values}}
            </div>
            <div class="action-add-menu">
                <button type="button" class="btn btn-primary btn-add-menu">
                     {{#str}} add_menu, local_easycustmenu {{/str}}
                </button>
            </div>
        </div>
        <div class="form-input-hidden">
            <input type="hidden" id="primary_menu_sesskey" name="sesskey" value="">
            <script>
                document.getElementById("primary_menu_sesskey").value = M.cfg.sesskey;
            </script>
        </div>

       <div class="btn-wrraper">
            <button type="submit" class="btn btn-primary">
                {{#str}} save_menu, local_easycustmenu {{/str}}
            </button>
            {{#core_custommenuitems}}
                    <a href="{{menu_setting_form_action}}?load_core_custommenuitems=1" class="btn btn-secondary btn-load_core_custommenuitems">
                        {{#str}} load_more_custommenuitems, local_easycustmenu {{/str}}
                    </a>
            {{/core_custommenuitems}}
       </div>
    </form>
</div>
